$text-color: #ffffff;
$primary: #f3254b;
$background: #0000;

$ice: #7fcdff;
$grass: #9bcc50;
$poison: #b97fc9;
$fire: #fd7d24;
$psychic: #f366b9;
$flying: #bdb9b8;
$rock: #a38c21;
$water: #179bef;
$ground: #f7de3f;
$bug:#729f3f;
$normal: #a4acaf;
$fighting:#d56723;
$ghost: #7b62a3;
$steel: #9eb7b8;
$fairy: #fdb9e9;
$electric: #e8db89;
$dragon: #f16e57;
