.primary-btn{
    background-image: linear-gradient(to right, #34e89e 0%, #3384a4 51%, #34e89e 100%);
    margin: 10px;
    padding: 15px 25px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;        
    box-shadow: 0 0 20px $steel;
    color: $text-color;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    border: 0;

    &:active{
        transform: scale(0.9);
        box-shadow: 2px 2px 5px #34e89e;
    }

    &:hover{
        background-position: right center; 
        color: #ffffff;
        text-decoration: none;
    }
    
}


.btn-disabled{
    background-image: linear-gradient(to right, #757F9A 0%, #D7DDE8  51%, #757F9A  100%);
    cursor: not-allowed;
}

.buttons-container{
    position: fixed;
    bottom: 1rem;
    right: 1rem;

    @media screen and (max-width: 600px) {
        position: relative;
        top: 0;
        left: 0;
    }
}

         

 